* { margin:0; padding:0; 
}
body {
	background: #f0f0f0; 
	color: #ACADAE; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
ul { 
	list-style: none; 
}
a {
	text-decoration:none;
}
a:hover, a:active {
	text-decoration:none;
	color: #1d7373;		
}
input {
	background: #f0f0f0; 
	border: 1px solid #ACADAE; 
	padding: 16px 8px;
	font-size: 1.3em;
}
	input:hover, input:active, select:hover, select:active {
		border: 1px solid #1d7373;
	}
	
/* Header Contents */
.calcName {
	width: 70%;
  }
.moneyTotal {
	display: block;
	float: left;
	width: 25%;
}
.total .labelValue, 
.total .moneyValue {
	display: block;
	float: left;
	text-align: left;
}
.currencySelect {
	border-radius: 0;
	display: block;
	float: left;
	padding: 21px 0;
	-webkit-appearance: none;
	width: 5%;
}

/* Page Inputs */
input:required {
	width: 30%;
}
input:required:invalid, input:focus:invalid {
	background: pink;
	border: 1px solid red;
	-moz-box-shadow: none;	
}
.labelValue, 
.moneyValue  {
	float: left;
	padding: 10px;
}
	.moneyValue { 
		width: 10%;
	}
	.labelValue { 
		width: 50%; 
	}

/* Rows 
where do i store the content?
Fix alignment on static entry row
Fix % change on static entry row 
Make pressing entery be an add, no need for having button
allow for keyboard nav, edit, delete
edit on click of row
*/
.topBar { 
	background: #7F96AD;
	border-bottom: 1px solid #657A8E;
	display: block; 
	position: fixed; 
	z-index: 100;
	top: 0px; 
	right: 0; 
	left: 0; 
	margin: 0;
	padding: 12px 20px;
}
.coreContainer {
	display: block; 
	position: absolute; 
	top: 70px; 
	right: 0; 
	left: 0; 
	bottom: 0;
}
.tag {
	cursor: move;
	white-space: nowrap;
	overflow: hidden;
	margin: 10px;
	padding: 10px;
	background-color: #C8D5E2; 
}
.tag:hover { background: #91AEC9; 
}
.tag:focus { background: #c9f150; 
}
.new {
	background: #c9f150;
	white-space: nowrap;
	overflow: hidden;
	margin: 10px;
	padding: 10px;
	}
	
/* Buttons */
.button {
  background-color: transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: transparent;
  font-size: 13px;
  text-decoration: none;
  vertical-align: middle;
  float: right;
  border: none;
  margin: 18px 4px 0 0;
  padding: 2px 6px;
  }
.green {
	margin-right: 10px;
	}
.button:hover {
	background: #13315C;
	color: #e2e2e2; 
}
.button:active {
	background: #13315C;
}
.red:hover, 
.red:active, 
.tag:focus .red,
.tag:active .red,
.tag:hover .red  { 
	color: #96230c; 
	}
.green:hover, 
.green:active,
.tag:focus .green,
.tag:active .green,
.tag:hover .green,
.new .green { 
	color: #5b7d04; 
	}

/* Bottom Nav Add icons */
nav {
	position: fixed;
	z-index: 200; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	height: 100px;
	display: block;
	text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	width: 25%;
	height: 100px;
	float: left;
	padding-top: 40px;
	color: #13315C;
}
.active-tab {
	border-top: 4px solid #13315C;
}
.tab1 {
	background: #7F96AD;
}
.tab2 {
	background: #91AEC9;
}
.tab3 {
	background: #AAC1D7;
}
.tab4 {
	background: #C8D5E2;
}